.conteudo {
    width:80%;
    padding-left:5%;
    padding-top:20px;
}

#tabela {
    width:80%;
    padding-left:5%;
    padding-top:20px;
}

#loading {
    padding-top:30px;
    padding-left:45%;
}
